{#
/**
 * @file
 * Partial template to display a node in teaser view mode.
 */
#}
<article{{ attributes.addClass(classes).addClass("node--view-mode-teaser-2 mt-style-custom-all region--bright-background px-4 pt-4 pb-2") }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if image|render or display_submitted %}
    <div class="teaser-image">
      {{ image }}
    </div>
  {% endif %}

  {% if node.isSticky() or teaser_pre_content|render %}
    <div class="teaser-pre-content">
      {% if node.isSticky() %}
        {% trans %}
          <div class="promoted-label mt-style-custom-all region--dark-colored-background">Promoted</div>
        {% endtrans %}
      {% endif %}

      {% if teaser_pre_content|render %}
        {{ teaser_pre_content }}
      {% endif %}
    </div>
  {% endif %}

  {% if not page %}
    <h4{{ title_attributes.addClass("mt-0 node__title") }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h4>
  {% endif %}

  {% if display_submitted or (node.comment and comment_count > 0) %}
    {{ metadata }}
    <div class="node__meta">
      {% if display_submitted %}
        <span class="node__meta-item">
          {{ submitted_date }}
        </span>
        <div{{ author_attributes.addClass('node__meta-user node__meta-item') }}>
          {{ author_name }}
          <div class="author-picture">
            {{ author_picture }}
          </div>
        </div>
      {% endif %}
      {% if node.comment and comment_count > 0 %}
        <div class="node__meta-item node__meta-comments">
          {% trans %}
            1 comment
          {% plural comment_count %}
            {{ comment_count }} comments
          {% endtrans %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <div{{ content_attributes.addClass('node__content') }}>
    {{ rendered_content }}
  </div>
</article>
